{
    "projname" : "",
    "datadir" : "",
    "projdir" : "",
    "tmpdir" : "",
    "fileformat" : "pod5",
    "flowcell_generation": "10.4.1",
    "motor_enzyme": "e8.2_400bps",
    "accuracymode" : "sup",
    "barcodekit": "SQK-NBD114-24",
    "guppydir" : "/opt/ont/guppy",
    "guppymode" : "gpu"
}
